.chatHeader__left a {
  text-decoration: none;
}
.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 2.5px;
  border-bottom: 3px solid #2f3135;
}

.chatHeader__hash {
  color: gray;
  font-size: 24px;
  padding: 8px;
}

.chatHeader__left {
  flex: 0.5
}
.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.25;
  /* max-width: 100%; */
  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root,
.chatHeader__right a > .MuiSvgIcon-root {
  padding: 8px;
  cursor: pointer;
  width: 0.8em;
  height: 0.8em;
  color: gray;
}

.chatHeader__right > .MuiSvgIcon-root:hover,
.chatHeader__right a > .MuiSvgIcon-root:hover {
  color: white;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 2.5px;
  padding: 2.5px;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
@media(max-width: 850px){
  .chatHeader{
    min-width: 20vw;
  }
  .chatHeader__right > .MuiSvgIcon-root {
    display: none;
  }
}