a {
    font-weight: bold;
    color: #16a8d1;
}
.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}
.attached__media {
    max-width: 25vw;
    max-height: 50vh;
}
.message__avatar {
    align-self: flex-start;
}
.message__attachment {
    padding-top: 0.75em;
}
audio { 
    max-height: 40px;
    max-width: 30vw;
}
audio:focus, video:focus {
    outline: none;
}
