.sidebar__server {
    display: grid;
    cursor: pointer;
    background-color: #2f3135;
    height: 45px;
    border: 2px solid #2f3135;
    border-radius: 5em;
    margin: 5px;
    align-self: center;
}

.sidebar__server:hover {
    color: gray;
    background-color: #fff;
}

.sidebar__serverImg {
    display: grid;
    cursor: pointer;
    background-color: #2f3135;
    border-radius: 5em;
    width: 45px;
    height: 45px;
}

.sidebar__server:hover .sidebar__serverImg {
    opacity: 0.9;
}